*.elc
*~
/.python-environments/
/elpy/
/eshell/history
/network-security.data
/places
/projectile-bookmarks.eld
/recentf
/request/
/transient/
abbrev_defs
ac-comphist.dat
auto-save-list
elpa/
tramp
url/cookies
/ido.last
/.emacs.desktop
/.emacs.desktop.lock
